.THIS {
    backGround-Color:yellow;
    font-size:25px;
    
}
.THIS .Red{
    color:red;
    font-size:30px;
}
.THIS .Blue{
    color:Blue;
}
.THIS .White{
    color:White
}
.THIS .Grey{
    color:Grey
}